<p>Olá <strong>{{ student }}</strong>,</p>
<p>Obrigado por ingressar na academia GymPoint, agora veja os detalhes:</p>
<hr>
<p>
  <strong>× Plano: </strong>{{ plan }}<br />
  <strong>× Período: </strong> {{ duration }} meses <br />
  <strong>× Preço: </strong> R$ {{ price }}.00 <br />
  <br />
  <strong>× Começa em: </strong>{{ start_date }}<br />
  <strong>× Temina em: </strong>{{ end_date }}<br />
  <br />
  <hr>
  <small>
    <center>Agora bora ficar monstrão! =)</center>
  </small>
</p>
